@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /*Generale*/
  .background {
    @apply dark:bg-bar-300 bg-bar-700;
  }

  .testo {
    @apply dark:text-white text-black;
  }

  .min-flex{
    @apply flex flex-col min-h-screen;
  }

  /*Navbar */
  .navbar-colors {
    @apply dark:bg-bar-700 bg-bar-300 dark:text-white text-black;
  }

  .navbar-desktop-dropdown-colors {
    @apply dark:bg-bar-500 bg-bar-500 dark:text-white text-black;
  }

  .navbar-desktop-link{
    @apply testo font-semibold text-xl tracking-tight testo;
  }

  .navbar-desktop-link span{
    @apply rounded dark:hover:bg-bar-300 hover:bg-bar-700;
  }

  .navbar-mobile-li{
    @apply p-4 hover:bg-bar-500;
  }

  .theme-toggle{
    @apply rounded dark:hover:bg-bar-700 hover:bg-bar-300;
  }

  .bm-menu {
    background: #373a47;
    padding: 1.5em 0 0;
    width: 100%;
    font-size: 2em;
  }

  .bm-morph-shape {
    fill: #373a47;
  }

  .bm-item-list {
    color: #b8b7ad;
  }

  .bm-item {
    display: inline-block;
  }

  /*Login*/
  .box-colors{
    @apply dark:bg-bar-700 bg-bar-300 dark:text-white text-black;
  }

  .box-button-colors{
    @apply dark:bg-bar-300 bg-bar-700 dark:hover:bg-bar-700 hover:bg-bar-300 dark:text-white text-black;
  }




}
